/* normalize.css 清除設定 */
@import url("normalize.css");
/* 設定 */
:root{
	/* font-size */
	--h1-size: 3.75rem; 	/* 60px */
	--h2-size: 1.875rem; 	/* 30px */
	--h3-size: 1.5rem; 		/* 24px */
	--h4-size: 1.25rem;		/* 20px */
	--h5-size: 1.125rem; 	/* 18px */
	--p-size: 1rem;       	/* 16px */
	--sp-size: 0.875rem;	/* 14px */
	/* color & background-color */
	--gray-color: #394150;
	--light-gray-color: #a0a6a7;
	--pink-color: #ff133e;
	--white-color: #ffffff;
	--lightBg-color: #f9fafb;
	--darkBg-color: #29303e;
	--green-color: #34d399;
	--orange-color: #f87171; 
	/* 字高 */
	--text-height: 1.5
}
body, html{
	font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
	width: 100%;
	height: 100%;
	position: relative;
	background-color: var(--white-color);
}
/* 設定 end */

/* 共用 */
.wrap{
  	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1.25rem;
}
/* 選取文字 */
::selection{
	background-color: var(--pink-color);
	color: var(--white-color);
}
/* :lang(en) 英文語言連字號斷行 */
span:lang(en){
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
/* btn 按鈕 */
.btn{
		display: block;
}
.btn a{
	font-size: var(--h5-size);
	display: inline-block;
	padding: 0.75rem 2rem;
	background-color: var(--pink-color);
	border-radius: 0.25rem;
	color: var(--white-color);
}
.btn a:hover{
	background-color: #b91c1c;
}
.btn2{
	margin-bottom: 1rem;
}
.btn2 a{
	padding: .5rem 0.75rem;
	display: inline-block;
	border-radius: 0.25rem;
	border: 1px solid var(--pink-color);
	font-size: var(--h5-size);
	color: var(--pink-color);
}
.btn2 a:hover{
	background-color: var(--pink-color);
	color: var(--white-color);
}
/* m-title-style 中標題 */
.m-title-style{
	display: block;
	width: 100%;
	text-align: center;
	color: var(--gray-color);
}
.m-title-style h2{
	font-size: 1.875rem;
}
.m-title-style h2:after{
	content: '';
	display: block;
	width: 50px;
	height: 3px;
	background-color: var(--pink-color);
	margin: auto;
	position: relative;
	top: .8rem;
}
.m-title-style p{
	font-size: var(--h4-size);
	font-weight: normal;
	padding: 2rem 0;
}
/* picture 響應式圖片 */
picture{
	width: 100%;
	display: block;
}
picture >[data-icon="image"]{
	display: block;
	margin: auto;
}
picture >[data-photo="image"]{
	display: block;
	margin: auto;
	width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
/* bg-shape bg-shape 背景不歸折角 */
.bg-shape:before,.bg-shape-down:after{
	content: '';
	display: inline-block;
	width: 100%;
	height: 10rem;
	clip-path: polygon(30% 0px, 0px 100%, 100% 100%);
	background-color: var(--lightBg-color);
	margin-top: -1px;
}
.bg-shape-down:after{
	content: "";
	clip-path: polygon(70% 100%, 0px 0px, 100% 0px);
	height: 10rem;
	background-color: var(--gray-color);
}
/* col3 3列一排 */
.col3{
	width: 31.2%;
	margin-right: 3.2%;
	margin-bottom: 2rem;
}
.col3:nth-child(3n){
	margin-right: 0px;
}
/* items 圖片文字樣式 */
.items{
	position: relative;
	z-index: 10;
	border-radius: 8px;
	background-color: var(--pink-color);
}
.items a{
    display: flex;
    flex-direction: column;
	height: 100%;
	position: relative;
	filter: drop-shadow(0px 0px 6px rgba(0,0,0,.2));
	overflow: hidden;
  	border-radius: 8px;
	background-color: var(--white-color);
	top: 0;
	transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
}
.items li:hover{
	background-color: var(--pink-color);
}
.items a:hover{
	top: -10px;
}
.items-content{
	color: var(--gray-color);
    display: flex;
    flex-direction: column;
	padding: 1.25rem;
	height: 100%;
}
.items-content h4{
	font-size: var(--h4-size);
	line-height: 2;
	border-bottom: 1px solid var(--light-gray-color);
}
.items-content p{
	padding: 1rem .5rem;
}
/* 共用 end */

/* header */
header{
	background-color: var(--white-color);
	padding: 0 1.5rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.header-shadow{
	box-shadow: 0 2px 8px rgba(0,0,0, .2);
}
.logo{
	display: flex;
	align-items: center;
}
.logo img{
	width: 40px;
	padding-right: 5px;
}
.logo p{
	font-size: 1.125rem;
	font-weight: bold;
	color: var(--darkBg-color);
}
.logo:hover p{
	color: var(--pink-color);
}
.menu ul{
	display: flex;
	align-items: center;
	margin: 0;
	height: 100%;
}
.menu li{
	margin-left: 2rem;
	display: block;
	font-size: 0px;
}
.menu li a{
	display: inline-block;
	font-size: 1.125rem;
	color: #000000;
	padding: 1.5rem 0;
}
.menu li::after{
	content: '';
	position: relative;
	width: 0;
	height: 4px;
	margin: 0 auto;
	background-color: var(--pink-color);
	display: block;
	transition: width 0.4s;
  -webkit-transition: width 0.4s;
}
.menu li:hover::after{
	width: 100%;
}
.menu li a:hover{
	color: var(--pink-color);
}
/* header end */

/* banner */
.banner{
	width: 100%;
	background: url("https://60503225c3ba680007f5a110--5xtraining.netlify.app/_next/static/images/banner-home-aca80ad097b4d77ffa3b82879b5d14a8.jpg") no-repeat center;
	background-size: cover;
	padding: 12rem 1.25rem;
	position: relative;
	clip-path: polygon(0px 0px, 100% 0px, 100% 88%, 30% 100%, 0px 88%);
}
.banner:before{
	content: '';
	display: inline-block;
	background-color: rgba(24,30,45,.8);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	bottom: 0px;
}
.banner-content{
	color: var(--white-color);
	position: relative;
	z-index: 20;
	padding: 0 10rem;
}
.banner-content h1{
	font-size: var(--h1-size);
	margin: 0 0 2rem 0;
}
.banner-content p{
	font-size: var(--h3-size);
	font-weight: initial;
	margin-bottom: 4rem;
}
/* banner end */

/* advantage */
.advantage{
	font-size: 0px;
	display: inline-block;
	margin-top: 5rem;
	width: 100%;
	position: relative;
	z-index: 10;
}
.advantage-box{
	width: 100%;
}
.advantage-content{
	display: flex;
	padding: 0;
	margin: 4rem 0;
}
.advantage-items{
	width: 33.3%;
	padding: 0 1.25rem;
}
.advantage-items-content{
	color: var(--gray-color);
	text-align: center;
}
.advantage-items-content h3{
	font-size: 1.125rem;
	margin: .4rem 0;
}
.advantage-items-content p{
	font-size: var(--p-size);
	margin: .4rem 0;
}
/* advantage end */

/* teacher */
.teachers{
	margin-top: -5rem;
}
.teachers-bg,.study-method-bg{
	background-color: var(--lightBg-color);
	margin-top: -.2rem;
}
.teachers-box{
	padding: 1rem 0 5rem 0;
}
.teachers-title{
	text-align: left;
	width: 65%;
	margin: auto;
	padding-bottom: 2rem;
}
.teachers-title h2:after,.lessons-title h2:after,.study-method-box .study-method-title h2:after{
	margin: 0;
}
.teachers-title{
	font-size: var(--h4-size);
	line-height: var(--text-height);
}
.teachers-content{
	width: 50%;
	padding: 2rem;
	margin: 0 auto;
	display: block;
  background-color: white;
  box-shadow: 0 0 1 #000000;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 5px;
	display: flex;
}
.teachers-address{
	width: 30%;
	padding-right: 20px;
}
.teachers-experience{
	width: 70%;
}
.teachers-address > picture{
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 10px;
}

.teachers-experience-content h3,.teachers-experience-content p{
	font-size: var(--p-size);
	color: var(--gray-color);
	padding-bottom: .5rem;
}
.teachers-experience-content .teachers-name{
	display: block;
	font-size: var(--h3-size);
	padding: 1rem 0 0.5rem 0;
}
.teachers-experience-content .teachers-tags:after{
	content: '';
	display: block;
	width: 40px;
	height: 2px;
	background-color: var(--pink-color);
	margin-top: .4rem;
}
.teachers-experience-content p a{
	font-weight: bold;
	color: var(--pink-color);
}
.teachers-otherLesson-title{
	font-size: var(--p-size);
	color: var(--gray-color);
	padding: 2rem 0 1rem 0;
	display: flex;
	align-items: center;
}
.teachers-otherLesson-title p{
	white-space: nowrap;
	margin-right: 1rem;
}
.teachers-otherLesson-title .line{
	flex-grow: 1;
	height: 1px;
	background-color: var(--light-gray-color);
}
/* teacher end */

/* lessons */
.lessons{
	background-color: var(--lightBg-color);
}
.lessons:before,.lessons-bg{
	background-color: var(--gray-color);
}
.lessons-bg{
	margin-top: -.25rem;
}
.lessons-title{
	color: var(--white-color);
	text-align: left;
	margin-right: 1.5rem;
}
.lessons-title h2{
	margin: 0;
}
.lessons-title h4{
	color: var(--light-gray-color);
}
.short-lessons{
	display: flex;
	padding: 5rem 10rem ;
}
.short-lessons-content{
	width: 100%;
	padding: 2rem;
	background-color: var(--pink-color);
	color: var(--white-color);
	position: relative;
}
.short-lessons-content h3{
	font-size: var(--h4-size);
	font-weight: bold;
	padding-bottom: 1.5rem;
}
.short-lessons-content p{
	padding-bottom: 1.5rem;
}
.short-lessons-content a{
	color: var(--white-color);
	letter-spacing: 1.2px;
}
.short-lessons-content a>.fa-chevron-right,.btn3 .fa-chevron-right{
	position: relative;
	left: 0;
	transition: left 0.3s linear;
	-moz-transition: left 0.3s linear;
}
.short-lessons-content a:hover>.fa-chevron-right,.btn3:hover .fa-chevron-right{
	left: 5px;
}
.short-lessons-content a:hover{
	text-decoration: underline;
}
.short-lessons-shape:after,.short-lessons-shape:before{
	content: "";
	position: relative;
	display: block;
	width: 100%;
	height: 2.5rem;
	clip-path: polygon(30% 100%, 0px 0px, 100% 0px);
	background: var(--pink-color);
}
.short-lessons-shape:before{
	clip-path: polygon(70% 0px, 0px 100%, 100% 100%);
	top: .05rem;
}
.recent-lessons h3{
	padding-bottom: 1.2rem;
	font-size: var(--h3-size);
	color: var(--white-color);
}
.recent-lessons > ul,.study-method-content > ul{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.recent-lessons .btn{
	text-align: center;
  padding: 2rem 0;
}
/* lessons end */

/* study-method */
.study-method-col3{
	width: 32%;
	margin-right: 2%;
}
.study-method-content a .btn3{
	color: var(--pink-color);
}
.study-method-content a .btn3:hover{
	text-decoration: underline;
}
.items-img-box,.items-img-box02,.items-img-box03{
	background: linear-gradient(rgba(24, 35, 45, 0.4), rgba(24, 35, 45, 0.4)), url("https://60503225c3ba680007f5a110--5xtraining.netlify.app/_next/static/images/learning-im_coding_it-2e61e20cb43462295664b6dcfe31b74a.png") no-repeat;
	background-size: cover;
	background-position: center center;
	height: 220px;
}
.items-img-box02{
	background: linear-gradient(rgba(24, 35, 45, 0.4), rgba(24, 35, 45, 0.4)), url("https://60503225c3ba680007f5a110--5xtraining.netlify.app/_next/static/images/learning-fullStack-fbd2867387497421c842cdb85a2464a7.png") no-repeat;
}
.items-img-box03{
	background: linear-gradient(rgba(24, 35, 45, 0.4), rgba(24, 35, 45, 0.4)), url("https://60503225c3ba680007f5a110--5xtraining.netlify.app/_next/static/images/learning-astro_camp-64eb918a606cc2d3b75bae289447aee8.png") no-repeat;
}
.items-img-box h3{
	font-size: var(--h2-size);
	text-align: center;
	color: var(--white-color);
	padding: 4rem 0;
	text-shadow: 0px 0px 6px rgba(0,0,0,.6);
}
.lessons-tag{
	border-radius: 4px;
	border: 1px solid var(--light-gray-color);
	font-size: var(--sp-size);
	font-size: var(--sp-size);
	color: var(--gray-color);
	display: inline-block;
	padding: 4px 10px;
	margin-right: 0.5rem;
	margin-bottom: 1rem;
}
.lessons-tag-box:after{
	display: block;
	content: '';
	width: 100%;
	height: .5px;
	background-color: var(--light-gray-color);
}
.recent-lessons-text{
	color: var(--light-gray-color);
	font-size: var(--p-size);
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}
.recent-lessons-text .lessons-level.entry-level{
	color: var(--green-color);
}
.recent-lessons-text .lessons-level.advanced-level{
	color: var(--orange-color);
}
.recent-lessons-text .entry-level:before,.recent-lessons-text .teacher-name:before,.recent-lessons-text .advanced-level:before{
	content: '';
	display: inline-block;
	font-size: 0px;
	background: url(/image/level-icon-g.svg) no-repeat;
	width: 16px;
	height: 16px;
	position: relative;
	padding-right: 5px;
	top: 2px;
}
.recent-lessons-text .advanced-level:before{
	content: '';
	background: url(/image/level-icon-o.svg) no-repeat;
	width: 16px;
	height: 16px;
}
.recent-lessons-text .teacher-name:before{
	background: url(/image/teather-icon.svg) no-repeat;
	margin-right: 4px;
}
/* lessons end */

/* study-method */
.study-method.bg-shape-down:after{
	clip-path: polygon(30% 100%, 0px 0px, 100% 0px);
	background-color: var(--lightBg-color);
}
.study-method-box .study-method-title{
	text-align: left;
}
.study-method-content{
	padding: 2rem 0 2rem 0;
}
.study-method-content .btn3{
	margin-top: auto;
}
/* study-method end */

/* together-5x */
.together-5x{
	padding: 5rem 0;
}
.together-5x-title{
	margin-bottom: 4rem;
}
.together-5x-content ul{
	display: flex;
	flex-wrap: nowrap;
}
.together-5x-content li{
	width: 16.6%;
	margin: 1rem;
}
.together-5x-box{
	padding: 1.5rem;
	background-color: var(--white-color);
	box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
	border-radius: 8px;
	border: 1px solid #f4f5f7;
	position: relative;
}
.together-5x-box:after{
	content: '”';
	display: inline-block;
	position: absolute;
	right: 0px;
	bottom: -10px;
	font-size: 90px;
	line-height: 0px;
	color: var(--light-gray-color);
	opacity: .2;
}
.together-5x-content li>p{
	font-size: var(--p-size);
	color: var(--gray-color);
}
.together-5x-students{
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}
.together-5x-students img{
	border-radius: 50%;
	width: 2.8rem;
	margin-right: 10px;
}
.together-5x-students p{
	color: var(--light-gray-color);
}

/* together-5x end */
/* footer */
footer.bg-shape:before{
	background-color: var(--gray-color);
}
.footer-bg{
	background-color: var(--gray-color);
	padding: 4rem 0;
	margin-top: -.25rem;
	padding: 4rem 0 2rem 0;
}
.footer-content-top{
	display: flex;
	flex-wrap: wrap;
}
.footer-informatin{
	width: 40%;
}
.footer-nav{
	width: 60%;
	display: flex;
	flex-wrap: wrap;
}
.footer-logo{
	display: inline-block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
	background: url(https://60503225c3ba680007f5a110--5xtraining.netlify.app/_next/static/images/inverted_logo-dde38e95b20e76407a7ab3e7db2e1c64.svg) no-repeat;
	width: 200px;
	height: 65px;
	background-size: contain;
}
.footer-address a:hover,.footer-menu a:hover{
	color: var(--pink-color);
}
.footer-address h2{
	line-height: 1.2;
}
.footer-address h2 a{
	font-size: var(--sp-size);
	font-style: normal;
	color: var(--white-color);
	font-weight: normal;
}
.footer-menu{
	filter: none;
	overflow: auto;
	border-radius: 0px;
	background-color: initial;
	margin-bottom: 4rem;
}
.footer-menu h3{
	color: var(--white-color);
	font-size: var(--h5-size);
	padding-bottom: 1rem;
}
.footer-menu a{
	font-size: var(--sp-size);
	color: var(--white-color);
	line-height: 2;
}
.community-link{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.community-link a{
	padding: 0.5rem;
	font-size: 24px;
	color: var(--light-gray-color);
}
.teachers-community-link a:hover{
	color: var(--gray-color);
}
.footer-community-link a{
	font-size: 35px;
	padding: 1.25rem;
	color: var(--light-gray-color);
	opacity: .3;
}
.footer-community-link a:hover{
	opacity: 1;
}
.footer-copyright{
	background-color: #181e2d;
	padding: 1rem 0;
	font-size: var(--sp-size);
	color: var(--light-gray-color);
	text-align: center;
}
/* footer end */